# ===== Nodejs =====
node_modules/
npm-debug.log*
dist/
build/

# ===== Logs =====
.env
*.pem
*.key
logs/
*.log

# ===== OS Editor =====
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# ===== Test Coverage =====
coverage/
.nyc_output/
__tests__/

# ===== Misc =====
tmp/
.cache/